@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container form .user-details .input-box {
    width: 100%;
}

.user-details {
    justify-content: space-between;
}

.user-details #date {
    width: 50%
}

.user-details #time {
    width: 49%
}

#box {
    width: 100%;
    font-size: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
}
body {
    border: orange;
    display: flex;
    height: 40vh;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container .title {
    text-align: center;
    color: orange
}
.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    border-color: orange;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    contain: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details {
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 15px 0 10px 0;
    width: calc(100% / 2 - 20px);

}
.user-details .input-box input{
    height: 45px;
    width: 100%;
}